<md-dialog ng-cloak>
  <form>
    <md-toolbar style="background-color: rgb(140, 64, 41);">
      <div class="md-toolbar-tools">
        <h2>Log In</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          x
          <md-icon style="color: #777;"
                   aria-label="accessibility"
                   class="material-icons step"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div layout="column" layout-padding ng-cloak>
      <md-button class="md-primary md-raised" style="background-color: #3B5998;">
        facebook
      </md-button>
      <md-button class="md-primary md-raised" style="background-color: #DD4B39;">
        Google+
      </md-button>
    </div>
    <md-divider md-inset style="margin-left: 0; margin-top: 5%"></md-divider>
    <div layout="column" layout-padding ng-cloak>
      <br/>

      <md-content class="autoScroll">

        <md-input-container class="md-icon-float md-block">
          <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
          <input ng-model="user.password" type="password" placeholder="password" ng-required="true">
        </md-input-container>

      </md-content>
    </div>
    <md-divider md-inset style="margin-left: 0; margin-top: 5%"></md-divider>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised" ng-click="answer('not useful')" style="color: green">
        login
      </md-button>
      <md-button class="md-raised" ng-click="answer('useful')" style="margin-right:20px;">
        register
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>